<ion-header>
  <ion-toolbar>
    <ion-title>Quiz Categories</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-app>
<ion-text color="primary">
  <p>Test your IQ level by trying one of the following Brain challenging Quizes</h>
</ion-text>

<ion-card >
  <ion-item href="#" class="ion-activated">
   <ion-card-header>
                   <ion-card-title>Computer Quiz</ion-card-title>
  </ion-card-header>
  <ion-card-content>
          Try this amazing Introduction To Computer: Basics Quiz!
  </ion-card-content>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item href="#" class="ion-activated">
          <ion-card-header>
                   <ion-card-title>Mathematics Quiz</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Play this game to review Mathematics.
        </ion-card-content>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item href="#" class="ion-activated">
            <ion-card-header>
                   <ion-card-title>Technology Quiz</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         Play this game to review Instructional Technology
        </ion-card-content>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item href="#" class="ion-activated">
            <ion-card-header>
                   <ion-card-title>Programming Quiz</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         To learn more about computer science, play this game.
        </ion-card-content>
  </ion-item>
</ion-card>
</ion-app>
</ion-content>